body {
  display: flex;
  height: 96vh;
  width: 96vw;
  margin: 10px auto;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

text {
  cursor: pointer;
}

/* code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
} */

svg {
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  padding: 1rem;
}

#year {
  font-size: 3rem;
  color: #c7254e;
  flex: 1;
  text-align: center;
}

#slider {
  width: 500px;
}

#lbl_container {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.lbl {
  padding: 5px 15px 5px 15px;
  color: white;
  border-radius: 20px;
}

#lbl_actor {
  background-color: #4B77BE;
  margin-right: 0.5rem;
  display: inline;
}

#lbl_politics {
  background-color: #26A65B;
  margin-right: 0.5rem;
  display: inline;
}

#lbl_musician {
  background-color: #FFB61E;
  margin-right: 0.5rem;
  display: inline;
}

#lbl_idiot {
  background-color: #EF472F;
  display: none;
  margin-right: 0.5rem;
}

.ui-widget-content {
  background-color:rgba(255, 255, 255, 0.2);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cloud {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}

.timeline {
  flex: 0.1;
  padding: 2rem 10rem 2rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#range_wrapper {
  margin-top: 4rem;
  flex: 1;
}

#vis {
  flex: 0.9;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.desc {
  flex: 0.25;
  border-left: 1px solid #c3c3c3;
  padding: 2rem;
  text-align: justify;
  font-size: 1.5rem;
}

#desc_title {
  font-size: 3rem;
}

#results {
  padding: 1.5rem;
  font-size: 2.5rem;
}

#num_percent {
  font-size: 5rem;
  color: #c7254e;
}

#num_percent:hover {

}
